// TailwindCSS BreakPoint
$screenSm: 640px;
$screenMd: 768px;
$screenLg: 1024px;
$screenXl: 1280px;
$screen2xl: 1536px;

$logoFontFamily: 'Josefin Sans', sans-serif;
$notoSerif: 'Noto Serif JP', serif;

// default color
$cWhite: #fff;
$cBlack: #000;
$cGray: #333333;
$cLightGray: #d2d2d2;
$cDarkGray: rgba(#000, 0.8);

// Theme base
$theme-base-colors: (
  mainColor: #f6f3eb,
  subColor: #00adb5,
  accentColor: #352a20
);

// Theme cafe
$theme-cafe-colors: (
  mainColor: #edd0af,
  subColor: #da8b79,
  accentColor: #744c39,
  color4: #e6e3cb,
  color5: #c2ddda
);

// #744c39,#da8b79,#edd0af,#e6e3cb,#c2ddda
