// TailwindCSS BreakPoint
$screenSm: 640px;
$screenMd: 768px;
$screenLg: 1024px;
$screenXl: 1280px;
$screen2xl: 1536px;

// theme cafe
$theme-cafe-colors: (
  mainColor: #edebe6,
  subColor: #b77743,
  accentColor: black
);
