// TailwindCSS BreakPoint
$screenSm: 640px;
$screenMd: 768px;
$screenLg: 1024px;
$screenXl: 1280px;
$screen2xl: 1536px;

// font-family
$notoSansJP: 'Noto Sans JP', sans-serif;
$notoSerifJP: 'Noto Serif JP', serif;
$josefinSans: 'Josefin Sans', sans-serif;
$bungee: 'Bungee', cursive;
$dosis: 'Dosis', sans-serif;

// default color
$cMidWhite: rgba(#fff, 0.6);
$cDarkWhite: rgba(#fff, 0.8);
$cWhite: #fff;
$cLightGray: rgba(#7e7e7e, 0.2);
$cMidGray: rgba(#7e7e7e, 0.6);
$cDarkGray: rgba(#7e7e7e, 0.8);
$cGray: #7e7e7e;
$cMidBlack: rgba(#000, 0.6);
$cDarkBlack: rgba(#000, 0.8);
$cBlack: #000;

// Theme base
$theme-base-colors: (
  mainColor: #f6f3eb,
  subColor: #00adb5,
  accentColor: #352a20
);

// Theme cafe
$theme-cafe-colors: (
  mainColor: #edd0af,
  subColor: #da8b79,
  accentColor: #744c39,
  color4: #e6e3cb,
  color5: #c2ddda
);

// #744c39,#da8b79,#edd0af,#e6e3cb,#c2ddda
