// TailwindCSS BreakPoint
$screenSm: 640px;
$screenMd: 768px;
$screenLg: 1024px;
$screenXl: 1280px;
$screen2xl: 1536px;

// font-family
$notoSansJP: 'Noto Sans JP', sans-serif;
$notoSerifJP: 'Noto Serif JP', serif;
$josefinSans: 'Josefin Sans', sans-serif;
$bungee: 'Bungee', cursive;
$dosis: 'Dosis', sans-serif;
$mPlusRounded1c: 'M PLUS Rounded 1c', sans-serif;

// font-size
$defaultFontSize: 1rem;

// default color
$cWhite: #fff;
$cMidWhite: #fdfdfd;
$cLightGray: rgba(#7e7e7e, 0.4);
$cGray: rgba(#7e7e7e, 0.8);
$cDarkGray: #7e7e7e;
$cDarkBlack: rgba(#000, 0.8);
$cBlack: #000;

// Theme base
$theme-base-colors: (
  mainColor: #f6f3eb,
  subColor: #00adb5,
  accentColor: #352a20
);

// Theme cafe
$theme-cafe-colors: (
  mainColor: #edd0af,
  subColor: #da8b79,
  accentColor: #744c39,
  color4: #e6e3cb,
  color5: #c2ddda
);

// Theme pg-school
$theme-pg: (
  baseColor: #81d9ff,
  baseColor-mid: #00aaf4,
  baseColor-light: #e6f8ff,
  mainColor: #ffe59c,
  mainColor-light: #fff8e5,
  mainColor-dark: #c3b389,
  subColor: #ff7474,
  accentColor: #0e2a3b
);

// #744c39,#da8b79,#edd0af,#e6e3cb,#c2ddda
