@use '../setting' as s;
@use 'mediaQueries' as m;

@mixin modalWindow($bg: rgba(0, 0, 0, 0.75)) {
  width: 100vw;
  height: 100vh;
  background: $bg;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  color: s.$cWhite;
  &__inner--center {
    position: fixed;
    inset: 0;
    margin: auto;
    width: fit-content;
    height: fit-content;
  }
  .modal-menu {
    border: none;
  }
  .modal-menu + .modal-menu {
    margin-top: 0.5rem;
    @include m.mq-md {
      margin-top: 1rem;
    }
  }
  .modal-menu:last-child {
    display: none;
  }
}
