@use 'mediaQueries' as m;

@mixin sectionSpace($mt: 0, $mb: 0, $pad: 2rem 1rem 2rem 1rem, $padSm: 4rem 2rem 4rem 2rem) {
  margin-top: $mt;
  margin-bottom: $mb;
  padding: $pad;
  @include m.mq-sm {
    padding: $padSm;
  }
}
