@use '../assets/css/mixin.scss';
@use '../assets/css/variables.scss';

body {
  font-family: 'Noto Sans JP', sans-serif;
}

// ページ遷移時にフェードする
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

// .container {
//   @include mixin.mq-md {
//     max-width: 80vw;
//   }
// }

.hentry {
  &-content h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
  }
  h3 {
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  h4 {
    margin-bottom: 2rem;
    font-size: 1.6rem;
  }
  // p,
  // ul,
  // dl,
  // hr {
  //   line-height: 1.6rem;
  //   margin-bottom: 1rem;
  // }
  li > ul {
    margin-bottom: 0;
  }
  li {
    margin-left: 1rem;
    &::before {
      content: '・';
      margin-left: -1rem;
    }
  }

  .table {
    border-collapse: collapse;
    th,
    td {
      border: solid gray 1px;
      padding: 1rem;
      @include mixin.mq-md {
        padding: 2rem;
      }
    }
  }

  a {
    color: map-get(variables.$theme-base-colors, 'subColor');
  }

  svg {
    fill: currentColor;
  }
}

.sentence {
  p,
  ul,
  dl,
  hr {
    line-height: 2rem;
    margin-bottom: 1.6rem;
  }
}
.card {
  @include mixin.card();
}

.under-line {
  background: linear-gradient(transparent 90%, map-get(variables.$theme-base-colors, 'subColor') 0%);
}

.notoSerif {
  font-family: variables.$notoSerif;
}

.bg-color-gray {
  background-color: map-get(variables.$theme-base-colors, 'cGray');
}

.bg-color-subColor {
  background-color: map-get(variables.$theme-base-colors, 'subColor');
}

.text-color-white {
  color: map-get(variables.$theme-base-colors, 'cWhite');
}

.w-60 {
  width: 60px;
}
