@use '../global' as g;

.p-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #333;
  padding: 1rem;
  width: fit-content;
  &--demo {
    @include g.button($color: white, $bg: tomato, $padding: 1rem, $radius: 1rem);
  }
}
